<div class="stats-page-container" style="padding: 0px 30px;">

  <h1><strong>Workout Completed!</strong></h1>

  <div class="main-orange-btn">
    <strong><%= link_to "Continue", show_game_stats_room_path , style: "color: white; text-decoration: none;"%></strong>
  </div>

</div>

<div class="bg-container">
  <div class="bg-color" style = "width: 100wv; height:100vh">
  </div>
</div>
