<div class="vh-100 page-container d-flex align-items-center d-flex justify-content-center px-4 text-center">

  <h1 class="text-dark"> <strong>You gave up</strong></h1>

  <p>You’ve lost XP, but you can try again next time!</p>

  <div class="main-orange-btn">
    <strong><%= link_to "Continue", show_game_stats_room_path , style: "color: white; text-decoration: none;"%></strong>
  </div>

</div>
