    <div class="modal fade" id="howToplayModal" tabindex="-1" aria-labelledby="howToplayModalLabel" aria-hidden="true">
      <div class="modal-dialog h2p">
        <div class="modal-content h2p">
          <img id="customCloseButton" src="/assets/pngs/bodfrens_graphics-16.png" alt="Close" class="btn-close h2p" data-bs-dismiss="modal" aria-label="Close">
          <div class="modal-header h2p">
            <h5 class="modal-title" id="howToplayModalLabel">How to Play</h5>
          </div>
          <div class="modal-body h2p">
            <div id="howToplayIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active h2p">
                  <p class="bg-white h2p"></p>
                  <p class="d-block h2p">A timer will start once you enter a game. Finish all your exercises before then to complete the challenge!<br><br>In multiplayer, the first person to finish all exercises will receive 100 extra XP.</p>
                </div>
                <div class="carousel-item h2p">
                  <p class="bg-white h2p"></p>
                  <p class="d-block h2p">If you quit before the challenge ends, whether multiplayer or single player, you will lose 100XP. </p>
                </div>
                <div class="carousel-item h2p">
                  <p class="bg-white h2p"></p>
                  <p class="d-block h2p">In single player, after a challenge ends, you can opt for a bonus round that will give you 3 extra exercises on a 10 minute timer.<br><br>In multiplayer, both players will have to accept the bonus challenge to trigger it.</p>
                </div>
              </div>
                <div class="carousel-indicators h2p">
                  <button type="button" data-bs-target="#howToplayIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#howToplayIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#howToplayIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
