<div class="bg-container-linear-gradient">
  <div class="bg-container-repeating-element">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    <h5 class="disclaimer">Bodfrens is only available on mobile, find us there! </h5>
  </div>
</div>
