<div class="container main">
  <article class="select">Select Mode</article>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#singleModal">
    Single Player
  </button>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#multiModal">
    MultiPlayer
  </button>
  <%= button_to "Cancel", root_path, method: :get, class: "btn btn-primary", id: "cancel-btn" %>

<!--------Single Modal-------->
  <div class="modal fade" id="singleModal" tabindex="-1" aria-labelledby="singleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          Start a single player match?
        </div>
        <div class="modal-footer">
          <%= button_to "Yes", single_player_path, class: "main-orange-btn", id: "yes-btn" %>
          <button type="button" class="main-orange-btn" id="no-btn" data-bs-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--------------------------->

<!--------Multi Modal-------->
  <div class="modal fade" id="multiModal" tabindex="-1" aria-labelledby="multiModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          Start a multiplayer match?
        </div>
        <div class="modal-footer">
          <%= button_to "Yes", root_path, class: "main-orange-btn", id: "yes-btn" %>
          <button type="button" class="main-orange-btn" id="no-btn" data-bs-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
<!--------------------------->
</div>











<!-- The divs above are just for the scrolling animation and bg
find them under the _backgrounds.scss in components -->

<div class="bg-container">
  <div class="bg-color">
    <div class="bg-infinite">
    </div>
  </div>

</div>

<!------>
