development:
  adapter: async
#   adapter: redis
#   url: redis://localhost:6379/1
#   allowed_request_origins:
#     - http://localhost:3000
# test:
#   adapter: test

production:
  adapter: redis
  url: <%= ENV.fetch("REDIS_URL") { "redis://localhost:6379/1" } %>
  channel_prefix: bodfrens_production
