<%= link_to "#", class: "button" do %>
  <%= image_tag("pngs/search_logo.png", class: "icon") %> <!-- Search icon -->
  <span class="text">30 High Knees</span>
  <span class="xp">200 XP</span>
<% end %>
