//Buttons across all pages//

.main-orange-btn {
  // rounded orange button with gradient
  display: flex;
  padding: 7px 22px;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  margin: 4px;
  background: linear-gradient(270deg, #ea7f09 -7.5%, #f9bf14 69.64%);
  box-shadow: 3px 2px 4px 0px rgba(0, 0, 0, 0.13);
  font-weight: 700;
  color: white;
  border: none;
  text-decoration: none;
  font-size: 20px;
  line-height: normal;
}

.gray-modal-btn {
  // gray button for modal prompt
  display: flex;
  border: none;
  margin: 4px;
  padding: 7px 22px;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  background: linear-gradient(270deg, #ccc -7.5%, #e0e0e0 69.64%);
  box-shadow: 3px 2px 4px 0px rgba(0, 0, 0, 0.13);
  font-weight: 700;
  color: #5a5a5a;
  text-decoration: none;
  font-size: 20px;
  line-height: normal;
}

.primary-btn {
  // darker green button
  display: flex;
  width: 40%;
  border: none;
  padding: 11px 0px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  background: #237c6e;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  text-decoration: none;
  color: white;
  font-size: 13px;
}

.secondary-btn {
  // lighter green button
  display: flex;
  width: 30%;
  padding: 12px 13px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  background: #3b9686;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  text-decoration: none;
  color: white;
  font-size: 13px;
}

.select-mode-btn {
  // select mode buttons
  display: flex;
  padding: 22px 22.5px;
  border-radius: 30px;
  border: none;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 80%;
  height: 10%;
  color: #3a6e64;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.give-up-btn {
  // light grey button for user to give up
  display: flex;
  height: 25px;
  border: none;
  padding: 10px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 13px;
  background: #89908d;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 13px;
}

.button .text {
  // game room exercise button text
  color: #3c3c3c;
  text-align: right;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.icon {
  // magnifying glass icon
  width: 41px;
  z-index: 1;
  height: 43px;
  flex-shrink: 0;
  position: relative;
  right: 120px;
  top: 7.5px;

  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  opacity: 0.7;
  mix-blend-mode: multiply;
}

.button {
  // game room exercise button
  position: absolute;
  display: inline-flex;
  justify-content: space-between;
  border: none;
  align-items: center;
  width: 80%;
  height: 60px;
  padding: 0px 13px 0px 30px;
  align-items: center;
  gap: 0px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #f5f5f5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.13);
  cursor: pointer;
  text-decoration: none;
  left: 50%; /* Horizontal centering */
  transform: translateX(-50%); /* Center the button horizontally */

  .xp {
    width: 50px;
    color: #3a9586;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
  }
}

.button-regular-done {
  // game room exercise button
  position: absolute;
  display: inline-flex;
  justify-content: space-between;
  border: none;
  align-items: center;
  width: 80%;
  height: 60px;
  padding: 0px 13px 0px 30px;
  align-items: center;
  gap: 0px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #f5f5f5;
  background: linear-gradient(270deg, #ea7f09 1.83%, #f9bf14 95.87%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.13);
  cursor: pointer;
  text-decoration: none;
  left: 50%; /* Horizontal centering */
  transform: translateX(-50%); /* Center the button horizontally */
  .xp {
    width: 50px;
    color: #f3f3f3;
    text-align: center;
    font-family: Montserrat;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
  }

  .text {
    // game room exercise button text
    color: #f7f7f7;
  }
}

.button-bonus-done {
  // game room exercise button
  position: absolute;
  display: inline-flex;
  justify-content: space-between;
  border: none;
  align-items: center;
  width: 80%;
  height: 60px;
  padding: 0px 13px 0px 30px;
  align-items: center;
  gap: 0px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #f5f5f5;
  background: linear-gradient(270deg, #43b191 1.83%, #55d1ad 95.87%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.13);
  cursor: pointer;
  text-decoration: none;
  left: 50%; /* Horizontal centering */
  transform: translateX(-50%); /* Center the button horizontally */
  .xp {
    width: 50px;
    color: #f3f3f3;
    text-align: center;
    font-family: Montserrat;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
  }

  .text {
    // game room exercise button text
    color: #f7f7f7;
  }
}

.cancel-btn {
  a {
  background-color: #368979;
  color:#a5ede1;
  text-align: center;
  font-family: Montserrat;
  font-size: 13px;
  border-radius: 15px;
  padding: 4px 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  }
}
