.content-card {
  padding: 15px 30px;
  margin-bottom: 10px;
  border-radius: 30px;
  background: rgba(60, 150, 135, 0.65);
  width: 90%;
  h4 {
    font-size: 14px;
    color: #fff;
    font-weight: 700;
  }
}

.card-text {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 8px 0px;
}
