.progress-bar {
  background-color: grey;
  border-radius: 20px;
  height: 7px;
  width: 100%;
}

.stats-progressed-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20%;
  background-image: repeating-linear-gradient(to left, #FFF, #c9c9c9, #c9c9c9);
  transition: 0.5s ease 0.1s;
}

.game-progressed-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0%;
  background: linear-gradient(349deg, #cf8700 0.96%, #F7B513 74.05%);
  transition: 0.5s ease 0.1s;
}

.bonus-game-progressed-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0%;
  background: linear-gradient(270deg, #459c8e 30%, #23BDA3 70%);
  transition: 0.5s ease 0.1s;
}
