// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@media screen and (min-width: 1081px) {
  /* Your CSS styles for screens wider than 1080 pixels go here */
  /* For example, change the background color */
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, #5FE5BC 0.32%, #23BDA3 49.32%);
    background: cover;
    height: 100vh;
    color: white;
  }

  h1 {
    display: none;
  }

  p {
    display: none;
  }

  a {
    display: none;
  }
}

@media screen and (max-width: 1080px) {

  body {
    height: 100vh;
  }

  h5.disclaimer {
    display: none;
  }
}
