// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


// This was my attempt to make the bg media responsive. Only this should go in the body, everything else should have a container on a separate page so that the bg-color doesn't intefere.
@media screen and (min-width: 1081px) {
  /* Your CSS styles for screens wider than 1080 pixels go here */
  /* For example, change the background color */

  h1 {
    display: none;
  }

  p {
    display: none;
  }

  a {
    display: none;
  }
}

@media screen and (max-width: 1080px) {

  body {
    height: 100vh;
  }

  h5.disclaimer {
    display: none;
  }
}
